apiVersion: v1
kind: Service
metadata:
  name: sonar
  namespace: {{ namespace }}
  
  labels:
   app: sonar
spec:
  type: NodePort
  ports:
  - port: {{ port_sonar}}
    targetPort: {{ targetportsonar }}
    protocol: TCP
    nodePort: {{ nodeport_sonar }}
  selector:
    app: sonar
