apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jenkins
  name: jenkins
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: jenkins
 
  template:
    metadata:
      
      labels:
        app: jenkins
    spec:
      containers:
      - image: {{ image }}
        name: jenkins
        ports:
        - containerPort: {{ containerport_jenkins }}
