apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: {{ namespace }}
  
  labels:
   app: jenkins
spec:
  type: NodePort
  ports:
  - port: {{ port_jenkins }}
    targetPort: {{ targetport_jenkins }}
    protocol: TCP
    nodePort: {{ nodeport_jenkins }}
  selector:
    app: jenkins
